@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

/* Quill Editor Styles */
.ql-toolbar {
  @apply bg-white dark:bg-neutral-800 border-neutral-200 dark:border-neutral-700 !important;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.ql-container {
  @apply bg-white dark:bg-neutral-800 border-neutral-200 dark:border-neutral-700 !important;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-family: inherit !important;
  font-size: 1rem !important;
}

.ql-editor {
  @apply text-neutral-900 dark:text-white min-h-[300px];
}

.ql-editor.ql-blank::before {
  @apply text-neutral-400 dark:text-neutral-500 !important;
  font-style: normal !important;
}

/* Toolbar icons dark mode */
.dark .ql-toolbar .ql-stroke {
  stroke: #d4d4d4 !important;
}

.dark .ql-toolbar .ql-fill {
  fill: #d4d4d4 !important;
}

.dark .ql-toolbar .ql-picker {
  color: #d4d4d4 !important;
}